*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #000!important;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none!important;
}
li{
	list-style: none!important;
}

p{
	font-size: 16px;
}
.for-mobile{
	display: none;
}
.dis-flex{
	display: flex;
	align-items: center;
}
.section-padding{
	width: 100%;
	display: flex;
	padding: 100px 0;
}
.headers{
	padding-right: 50px;
}
.menu-desktop{
	width: 100%;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}
.next-previous ul{
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
.next-previous ul li{
	margin: 0 15px;
}

.haeder-menu-list ul{
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
.haeder-menu-list ul li{
	margin: 0 15px;
}
.white-color{
	color: #fff;
	transition: .6s;
}
.white-color:hover{
	color:#FF0000;
}
.geeks{
	position: relative;
  }


	
  .header{
	border-bottom: 1px #dddddd4f solid;
	float: left;
	width: 100%;
	padding: 5px 30px 0;
	z-index: 4;
	background-color: rgb(3, 3, 3);
  }
  
  
  /* Navigation bar styling */
  .menu-list {
	  max-width: 100%;
	  margin: auto;
  }
  
		  
  #menu__toggle {
	opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
  }
  
  .menu__btn {
	display: flex;
	align-items: center;
	position: absolute;
	top: 15px;
	right: -37px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 9999;
	text-transform: uppercase;
  }
  .sub-menu  li a{
	color: rgb(197, 197, 197);
	margin-left: 20px;
	text-decoration: none;
	font-size: 14px;
	text-transform: capitalize;
  }
  .sub-menu  li a:hover{
	color: #fff;
  }
  .sub-menu  li{
	list-style: none;
	margin-bottom: 10px;
  }
  .mabile-logo {
	 color: #fff;
	 margin-top: 30px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;
  
	width: 100%;
	height: 2px;
  
	background-color: #ffffff;
  
	transition-duration: .25s;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
  
  .menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	width: 400px;
	height: 100vh;
	color: #333;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color:#27272b;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
	z-index: 5;
  }
  .menu__box ul{
	display: flex;
	flex-wrap: wrap;
  }
  .menu__box li {
	margin: 0;
	padding: 0;
	margin: 8px 10px;
	color:#Fff;
	padding: 5px 15px;
	border-radius: 4px;
	border: 1px #dddddd4f solid;
	font-size: 16px;
	transition-duration: .25s;
  }
  .menu__box li a{
	border-radius: 25px;
	color: #Fff;
	margin: 0;

	padding: 0;
  }

  .menu__box li:hover {
	background: #FF0000;
  }


		  
  
  
  [data-tab-content] {
	display: none;
  }
  
  .active[data-tab-content] {
	display: block;
  }

.portfolio{
	background: #010101;
}
.portfolio-box{
	margin-bottom: 55px;
}
.portfolio-box img{
	width: 100%;
}
.portfolio-box p{
	color: #fff;
	margin: 10px 0;
}
.portfolio-box p:hover{
	color: #FF0000;
}
.dis-end{
	display: flex;
	align-items: flex-end;
}
.project-details{
	width: 100%;
	color: #fff;
}
.project-title{
	color: #FF0000;
	font-size: 25px;
}
.project-photo {
	width: 100%;
	position: relative;
	margin: 20px auto;
	padding: 80px 0 50px;
}

.item img{
	width: 100%;
	
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	font-size:50px;
	margin: 0 20px;
	color:#809e1a;
}
.owl-nav{
	top: -70px;
	right: 0;
	position: absolute;
}
.owl-nav button{
	font-size: 40px!important;
	outline: none!important;
	background:#fff!important;
	height:40px;
	line-height:0!important;
	width:40px;
	color: #000!important;
}
.video{
	width: 100%;
}
.video iframe{
	margin-top: -50px;
}
.about{
	background: #010101;
	width: 100%;
	height: 100vh;
	color: #fff;
}
.about h2{
	color: #FF0000;
	font-size: 25px;
}

.audio-mix{
	width: 450px;
	margin: 0 auto;
	background: #ffffff;
	padding:30px;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 15%);
}
.audio-poster img{
	width: 100%;
	margin-bottom: 10px;
}


  .below-text{
	width: 60%;
	margin: 40px auto;
	
  }
  .below-text p a{
	color: #05a0ca;
  }
  .below-text p a:hover{
	color: #010001;
  }

  audio {
    width: 100%;
	
  }
